body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #faf9f6;
}

.search-selection{
  display: flex;
  align-items: center;
}

.lol{
  height: 25px;
  width: 25px;
  margin-left: -45px;
  margin-top: 5px;
}

.category{
line-height: 10px;
margin-top: 30px;
margin-bottom: 30px;
}

.container{
  padding: 10px;
}

.card{
  padding: 10px;
  background-color: aquamarine;
  
}
.list{
  display: flex;
  justify-content: space-around;
}

.topics{
  display: flex;
  align-items: center;
}
.cardImage{
  height:100px;
  width: 100px;
}
.space{
  padding-right: 5px;
  font-weight: 500;
}
li{
  list-style: none;
}

.gray-background{
  line-height: 5px;
}
