body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #faf9f6;
}

.search-selection{
  display: flex;
  align-items: center;
}

.lol{
  height: 25px;
  width: 25px;
  margin-left: -45px;
  margin-top: 5px;
}

